
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;    
}
.header{
    height: 100vh;
    width: 100%;
    
}
nav
{   
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.753);
    padding: 10px;
    
}
.containers nav .logo img{
    width: 70px;
    margin-left:20px;
    
}
.containers nav  .nav-links a{
    text-decoration: none;
    color: #fff;
}
.containers nav  .nav-links li{
    list-style: none;
    display: inline-block;
    padding: 25px;
    text-transform: uppercase;
}
.container {
    
    width: 100%;
    height: 100vh;
    background: #ededff;
    display: flex;
    align-content: center;
    justify-content:space-evenly;
    
}

.profile1,.profile2{
    width: 90%;
    margin-top: 60px;
    max-width: 320px;
    height: 85%;
    background: #32284f;
    text-align: center;
    padding: 20px 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    border-radius: 5px;
    color: #fff;
    
}
.profile1 h1 ,.profile2 h1{
    text-transform: uppercase;
    font-size: 20px;
}

.userimage{
    width: 100px;
    border-radius: 50%;
    height: 150px;    
    margin-top: 20px;
}
.profile1 h2 , .profile2 h2{
    font-weight: 500;
    font-size: 22px;
    margin-top: 20px;
} 
.profile1 p, .profile2 p{
    font-size: 15px;
    margin-top: 10px;

}
.btn{
    text-decoration: none;
    color: #fff;
    padding: 10px 40px;
    border-radius: 30px;
    background: linear-gradient(to right,#8d68c5,#e34494);
    display: inline-block;
    margin: 40px 0;
    font-size: 15px;
}
.btn a{
    font-size:20px;
}
.profile1 .social-media,.profile2 .social-media{
    display: flex;
    align-content:center;
    justify-content: space-evenly;
}
.social-media img{
    width: 50px;
    border-radius: 50%;
}
.social-media h3{
    font-weight: 500;
    font-size: 16px;
}
.social-media div {
    margin: 10px 0 30px;
    
}