
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;    
}
.header{
    height: 100vh;
    width: 100%;
    
}
nav
{   
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.753);
    padding: 10px;
    
}
.containers nav .logo img{
    width: 70px;
    margin-left:20px;
    
}
.containers nav  .nav-links a{
    text-decoration: none;
    color: #fff;
}
.containers nav  .nav-links li{
    list-style: none;
    display: inline-block;
    padding: 25px;
    text-transform: uppercase;
}
